title = "Documentation"
url = "/documentation/:tab?"
layout = "default"
is_hidden = 0
==
<section class="media documentation is-block-mobile">
    <section class="media-left">
        <aside class="menu">
            <p class="menu-label has-text-black">
                GUIDE
            </p>
            <ul class="menu-list">
                <li>
                    <ul>
                        <li><a href="{{ 'documentation'|page({ tab: 'introduction' }) }}">Introduction</a></li>
                    </ul>
            </ul>
            <p class="menu-label has-text-black">
                GETTING STARTED
            </p>
            <ul class="menu-list">
                <li>
                    <ul>
                        <li><a href="{{ 'documentation'|page({ tab: 'installation' }) }}">Installation</a></li>
                        <li><a href="{{ 'documentation'|page({ tab: 'configuration' }) }}">Configuration</a></li>
                        <li><a href="{{ 'documentation'|page({ tab: 'deployment' }) }}">Deployment</a></li>
                    </ul>
                </li>
                <li><a href="https://bulma.io/" target="_blank">Bulma</a></li>
                <li><a href="https://octobercms.com/" target="_blank">OctoberCMS</a></li>
            </ul>
        </aside>
    </section>
    <section class="media-content">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                {% if this.param.tab == 'introduction' %}
                <li><a href="#">Guide</a></li>
                <li class="is-active"><a href="#" aria-current="page">Introduction</a></li>
                {% elseif this.param.tab == 'installation' %}
                <li><a href="#">Getting started</a></li>
                <li class="is-active"><a href="#" aria-current="page">Installation</a></li>
                {% elseif this.param.tab == 'configuration' %}
                <li><a href="#">Getting started</a></li>
                <li class="is-active"><a href="#" aria-current="page">Configuration</a></li>
                {% elseif this.param.tab == 'deployment' %}
                <li><a href="#">Getting started</a></li>
                <li class="is-active"><a href="#" aria-current="page">Deployment</a></li>
                {% endif %}

            </ul>
        </nav>
        {% if this.param.tab == 'introduction' %}
        {% partial 'docs/introduction' %}
        {% elseif this.param.tab == 'installation' %}
        {% partial 'docs/installation' %}
        {% elseif this.param.tab == 'configuration' %}
        {% partial 'docs/configuration' %}
        {% elseif this.param.tab == 'deployment' %}
        {% partial 'docs/deployment' %}
        {% endif %}
    </section>
</section>
