<footer id="footer" class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4">
                    <div class="footer-logo-support d-md-flex align-items-end justify-content-between">
                        <div class="footer-logo d-flex align-items-end">
                            <a class="mt-30" href="index.html">
                                <img src="{{'assets/img/logo.png'|theme}}" alt="Logo"
                                style="max-height: 150px;">
                            </a>

                            <ul class="social mt-30">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div> <!-- footer logo -->

                    </div> <!-- footer logo support -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer-newsletter">
                        <h6 class="footer-title">Skontaktuj się z nami</h6>
                        <p class="text">kontakt@lotnikstreetball.pl</p>
                    </div> <!-- footer newsletter -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <p class="text">
                            LOTNIK STREETBALL 2020
                        </p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
</footer>
